<div class="events-container">
  <h2 class="events-title">Upcoming Events</h2>
  <%= render @events.upcoming %>

  <h2 class="events-title">Past Events</h2>
  <%= render @events.past %>
</div>
<%= link_to 'New Event', new_event_path %>